// Additional customizations beyond generated FontCustom styles
.blacklight-icons {
  display: inline;
  align-self: center;
  color:#777777;
}

.blacklight-icons svg {
  height: 1em;
  width: 1em;
}

.blacklight-icons {
  svg {
    fill: currentColor;
  }
}


.blacklight-icons.baseline svg {
  top: .125em;
  position: relative;
}

.blacklight-catalog-index {
  .category-icon {
    .blacklight-icons {
      height: unset;
      width: unset;
      font-size:1em;
      svg {
        height:6em;
        width:6em;
      }
    }
  }
}

.facet-label {
  .blacklight-icons {
    margin-right:1rem;
  }
}

.geoblacklight-stanford {
  color: #8c1515;
}

.geoblacklight-public {
  @extend .fa, .fa-unlock, .text-muted;
}

.geoblacklight-restricted {
  @extend .fa, .fa-lock, .text-muted;
  width: 17px;
}

.geoblacklight-citation {
  @extend .fa, .fa-bookmark;
}

.geoblacklight-data-dictionary {
  @extend .fa, .fa-book;
}

.geoblacklight-sms {
  @extend .fa, .fa-mobile;
}

.geoblacklight-email {
  @extend .fa, .fa-envelope;
}

.geoblacklight-relations-ancestor {
  @extend .fa, .fa-pagelines;
}

.geoblacklight-relations-descendant {
  @extend .fa, .fa-leaf;
}

.geoblacklight-web_services {
  @extend .fa, .fa-external-link;
}

.geoblacklight-metadata {
  @extend .fa, .fa-file-text-o;
}

.geoblacklight-carto {
  @extend .fa, .fa-map-marker;
}

// DEPRECATED: Will be removed in GeoBlacklight v2.0
.geoblacklight-cartodb {
  @extend .geoblacklight-cartodb;
}
